.user-container {
  width: 350px;
  height: 350px;
}
.user-image {
  width: 80px;
  height: 80px;
}
.learning {
  max-height: 170px;
}

.user-info {
  height: 35%;
}
.learn-info {
  height: 65%;
}

.learned {
  font-size: 1.5em;
}
