<app-head [id]="id"></app-head>

<div class="d-flex justify-content-center">
  <div class="row mt-3 mainContainer">
    <div class="song-list col-md-6 col-lg-4">
      <app-song-list></app-song-list>
    </div>
    <div class="search col-md-6 col-lg-4">
      <app-song-search></app-song-search>
    </div>
    <div class="user-info col-md-12 col-lg-4">
      <div class="justify-content-center">
        <app-user-info [user]="user"></app-user-info>
        <div class="d-flex justify-content-center mt-3">
          <span *ngIf="!user; else Logout">
            <button class="btn pl-5 pr-5 btn-primary" routerLink="/login">
              Login
            </button>
          </span>
          <ng-template #Logout>
            <button
              class="btn btn-outline-primary pl-5 pr-5"
              (click)="logout()"
            >
              Logout
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
