<div class="container">
    
<div class="row mt-3">
    <div class="song-list h-100 col-12  col-md-6 col-lg-4">
        <app-song-list></app-song-list>
    </div>
    <div class="search h-100 col-12 col-md-6  col-lg-4">
        <app-song-search></app-song-search>

    </div>
    <div class="h-100 col-12 user-info col-md-12  col-lg-4">
        <div class="row justify-content-center">
            <div class="col-md-auto">
            <app-user-info></app-user-info>
        </div>
        <div class="col-md-auto mt-3">
            <app-login></app-login>
        </div>

    </div>
    </div>
</div>

</div>