<app-head [id]="id"> </app-head>
<div class="m-3">
  <div>
    <h1 class="display-3">
      <span class="font-weight-bold singer-text">{{ title }} </span
      ><small class="text-muted">{{ singer }}</small>
    </h1>
  </div>
  <div *ngIf="quizzes.length != 0; else spinner">
    <mat-horizontal-stepper linear #stepper>
      <mat-step *ngFor="let quiz of quizzes; index as num">
        <ng-template matStepLabel>Problem {{ num + 1 }}</ng-template>
        <h1>
          <span class="display-4 font-weight-bold">Q{{ num + 1 }}.</span>
          <span *ngFor="let morph of quiz.morphs; index as i">
            <span *ngIf="quiz.count_list.includes(i)">&nbsp;</span>
            <span *ngIf="i != quiz.morph_index; else blank">{{ morph }}</span>
            <ng-template #blank>_____</ng-template>
          </span>
        </h1>
        <h2 class="text-secondary">{{ quiz.translation }}</h2>
        <div>
          <div
            class="mt-3 btn-group-toggle"
            *ngFor="let word of examples[num]; index as j"
          >
            <label
              class="btn btn-outline-secondary"
              [ngClass]="{
                active: word == answer[num]
              }"
            >
              <input type="radio" [value]="word" (click)="select(num, word)" />
              {{ j + 1 }}
            </label>
            <span class="display-6">&nbsp; {{ word }}</span>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button
            class="btn-light"
            *ngIf="num != 0"
            mat-icon-button
            matStepperPrevious
          >
            <mat-icon>navigate_before</mat-icon>
          </button>

          <button mat-icon-button class="btn-light" matStepperNext>
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </mat-step>

      <mat-step *ngFor="let quiz of arrayQuizzes; index as num">
        <div>
          <ng-template matStepLabel
            >Problem {{ num + quizzes.length + 1 }}</ng-template
          >
          <h1>
            <span class="display-4 font-weight-bold"
              >Q{{ num + quizzes.length + 1 }}.</span
            >
            <span>List the words in the correct order</span>
          </h1>
          <div class="question content">
            <div
              class="lyrics"
              cdkDropList
              cdkDropListOrientation="horizontal"
              (cdkDropListDropped)="drop($event,num)"
            >
              <p *ngFor="let morph of quiz.morphs; index as i">
                <span class="kor" cdkDrag>{{ morph }}</span>
              </p>
            </div>
            <p id="trans">{{ quiz.trans }}</p>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn-light" mat-icon-button matStepperPrevious>
            <mat-icon>navigate_before</mat-icon>
          </button>
          <button
            mat-icon-button
            class="btn-light"
            *ngIf="num != arrayQuizzes.length - 1"
            matStepperNext
          >
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    
    <div class="row d-flex align-items-center">
      <button
        (click)="checkAnswer()"
        class="btn btn-primary text-center mx-auto"
        data-toggle="modal"
        data-target="#answerModal"
      >
        SUBMIT
      </button>
    </div>
  </div>

  <ng-template #spinner>
    <div class="d-flex justify-content-center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
<div
  id="answerModal"
  role="dialog"
  class="modal fade"
  role="dialog"
  *ngIf="solve"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-5">
      <div class="modal-header">
        <span class="display-5">Check Your Answer</span>
      </div>
      <div *ngFor="let quiz of quizzes; index as num">
        <span
          class="display-6 font-weight-bold"
          [ngClass]="{
            true_answer: answer[num] == quiz.answer,
            false_answer: answer[num] != quiz.answer
          }"
          >Q{{ num + 1 }}.
        </span>
        <span class="display-6" *ngFor="let morph of quiz.morphs; index as i">
          <span *ngIf="quiz.count_list.includes(i)">&nbsp;</span>
          <span *ngIf="i != quiz.morph_index; else blank">{{ morph }}</span>
          <ng-template #blank>
            <span
              class="font-weight-bold"
              [ngClass]="{
                true_answer: answer[num] == quiz.answer,
                false_answer: answer[num] != quiz.answer
              }"
              >{{ morph }}</span
            >
          </ng-template>
        </span>
        <div>
          Your Answer : {{ answer[num] }}<br />
          True Answer : {{ quiz.answer }}
        </div>
      </div>
      <div *ngFor="let quiz of arrayQuizzes; index as num">
        <span
          class="display-6 font-weight-bold"
          [ngClass]="{
           true_answer: correctList.includes(quiz.morphs),
           false_answer: !correctList.includes(quiz.morphs)
          }"         
          >Q{{  num + quizzes.length + 1 }}.
        </span>
        <span class="display-6" *ngFor="let morph of quiz.morphs; index as i">
          <span *ngIf="morph == answerList[num][i]" class=" font-weight-bold true_answer">{{ morph }}</span>
          <span>&nbsp;</span>
          <span
          *ngIf="morph != answerList[num][i]"
              class="font-weight-bold false_answer"
              >{{ morph }}</span
            >
            <span>&nbsp;</span>
        </span>
        <div>
          True Answer :
          <span *ngFor="let answer of answerList[num]; index as i">
            {{ answer }}
          </span>
          <span>&nbsp;</span>
        </div>
    </div>
    <div class="row d-flex align-items-center">
      <button class="btn btn-primary" data-dismiss="modal" routerLink="/recommend">End Learning</button>
    </div>
  </div>
</div>
