<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <div class="row justify-content-md-center">
        <div class="col-sm-9">
        <mat-form-field class="formfield" appearance="legacy">
            <mat-label>Id</mat-label>
            <input formControlName="id" matInput placeholder="Placeholder">
          </mat-form-field>

          <mat-form-field  class="formfield"  appearance="legacy">
            <mat-label>Password</mat-label>
            <input  matInput [type]="hide ? 'password' : 'text'" formControlName="password" matInput class="example-right-align">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
               
        </mat-form-field>             
        </div>
        <div class="col-sm-3">
           <div class="row h-100 align-items-center">
            <button class="btn btn-primary loginButton" type="submit">Login</button>
        </div>
    </div>
       
    </div>
    
</form>
<div class="row">
    <button class="btn btn-light btn-block" routerLink="/join" >Create an Account</button>
</div>