@import '../../variable.scss';
.result-item{
    margin: 5px;
    &:hover{
        background-color: $light-gray;
    }
}
.title{
    font-size: 15px;
    margin-right: 10px;
}
.singer{
    font-size: 14px;
    color: grey;
}
.album{
    height: 70px;
    width: 70px;
}