<div class="align-middle h-100">
    <div class="row">
        <div class="col-md-8">
            <mat-form-field class="formfield w-100" appearance="standard">
                <mat-label>Title or Singer</mat-label>
                <input [formControl]="songInfo" matInput placeholder="Placeholder" id="search-form" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            
        </div>
        <div class="col-md-4">
            <div class="row align-items-center h-100">
            <button class="btn w-100 btn-dark" (click)="search()">Search</button>
            </div>
        </div>
    </div>
    <div class="h-100 overflow-auto">
        <div style="height:100px" >
            <table class="table m-auto">
                <tbody>
                    <tr class="result-item" 
                    *ngFor="let song of resultList; index as i" 
                    (click)="goSong(song.id)">
                        <td class="row">
                            <div class="col-sm-3">
                                <img class="album" [src]="song.album" [alt]="song.singer"/>
                            </div>
                            <div class="col-sm-9">
                                <span class="title">{{song.title}}</span>
                                <br/><br/>
                                <span class="singer">{{song.singer}}</span>
                            </div> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>
       
</div>

    