.result-item{
    border: solid 2px rgb(231, 231, 231);
    margin: 5px;
    box-shadow: 2px 2px 2px gray;
}
.title{
    font-size: 15px;
    margin-right: 10px;
}
.singer{
    font-size: 14px;
    color: grey;
}
.album{
    height: 70px;
    width: 70px;
}