/* You can add global styles to this file, and also import other style files */
@import "./variable.scss";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  border-color: $background-color !important;
  background-color: $background-color !important;
}

.btn-primary:hover {
  border-color: $background-color-dark !important;
  background-color: $background-color-dark !important;
}
.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:hover {
  border-color: $background-color !important;
  color: $background-color !important;
}

.btn-outline-primary:hover {
  background-color: $background-color !important;
  border-color: $background-color !important;
  color: white !important;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: $background-color !important;
  color: #fff !important;
}
